<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159280700402-fmi38777dnk5o61thr7ku8e46tv4fl8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159280700402-fmi38777dnk5o61thr7ku8e46tv4fl8p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159280700402-miii7bripl4gcg9qjh2g2ra8ketja801.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-nVCrXl27S6HDcltJjtKFlHIaHQyCdhk</string>
	<key>GCM_SENDER_ID</key>
	<string>159280700402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TuneGether</string>
	<key>PROJECT_ID</key>
	<string>tunegether</string>
	<key>STORAGE_BUCKET</key>
	<string>tunegether.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159280700402:ios:95e3dca5c0f820b550a96b</string>
</dict>
</plist>